#container{
	margin: auto;
	padding: 2%;
}
#head{
	margin-left: 200px;
	margin-top: 150px;
}
#head h1{
	margin-left: 15px;
}
#board{
	background: url("../img/snl.jpg");
	opacity: 0.9;
	float: left;
}
#game{
	display: none;
}
#sbtn{
	display: none;
}
#mbtn{
	display: none;
}
#dice{
	clear: right;
	float: left;
	margin-left: 30px;
}
#diceHead{
	margin-left: 100px;
}
button{
	margin: 2px;
	border : 2px solid blue;
	border-radius: 4px;
	background: none;
	width: 200px;
	height: 50px;
	font-family: sans-serif;
	font-size: 130%;
	color: blue;
	transition-duration: 0.4s;
}
button:hover{
	background: blue;
	color: white;
	box-shadow: 2px 2px 2px 2px;
}
*{
	font-family: "Comic Sans MS", cursive, sans-serif !important;
}